$primary-color:#424242;

html {
  color:$primary-color;
}

.btn {
  background-color: $primary-color;

  $:hover {
    background-color: $secondary-color;
  }

  $:active {
    background-color: $tertiary-color;
  }

}
