html {
  background-color: #DEE0CC;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 2.5rem;
}

header {
  margin-bottom: 2rem;
}

.sideBar {
  position: fixed;
    top: 15vh;
    left: 1vw;
  margin-left: 1rem;
  width: 10vw;
}

.booksLink, .authorsLink {
  height: 20vh;
  border: .3rem outset #524B42;
  width: 100%;
  margin-top: 1rem;
  display: table;
  text-align: center;
  background-color: #DEE0CC
}

aside article h3 {
  /* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

font-size: 1.5rem;
display: table-cell;
vertical-align: middle;
}

a {
  text-decoration: none;
  color: #524B42;
}

main {
  width: 75vw;
  float: right;
  position: relative;
  margin-right: 5vw;
}

.addBook {
  position: absolute;
    top: 1rem;
    right: 1rem;
}

.addBookButton {
  height: 2rem;
  width: 10rem;
}

.addBookForm {
  float: left;
  margin-left: 25%;
}

.addBookForm input, textarea{
  display: block;
  width: 35vw;
  height: 2rem;
  position: relative;
  margin-bottom: .5rem;
  font-size: 1rem;
}

textarea {
  height: 5rem;
  font-size: .8rem;
}

.addBookForm input[type=submit] {
  height: 2rem;
}






















/**/
